[flake8]
application-import-names = rematch_au
import-order-style = pycharm

exclude =
    venv,
    __pycache__,
    untracked

max-line-length = 99

ignore =
    # Conflicting with return before else rule.
    R504,
    # Binaries should be able to split across lines.
    W503,
